* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  background-color: #000000;
  margin: 0;
  overflow: hidden;
}

canvas {
  background: black;
}

.dg.ac {
  z-index: 1000;
}

#guiContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#welcomeContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcomeText {
  color: white;
  font-size: 3rem;
  margin-bottom: 3rem;
}

#suggestedVisualizers {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.suggestedVisualizer {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.suggestedVisualizer:hover {
  color: lightblue;
}
